extends layout

block content
  .w3-container.w3-margin.w3-border
    .w3-container.w3-blue
      h3 Introduza as suas credenciais
    form.w3-container(action='/login' method='POST')
      label email
      input.w3-input(type='text', name='mail')
      label id 
      input.w3-input(type='text', name='id')
      label nome
      input.w3-input(type='text', name='nome')
      label pwd 
      input.w3-input(type='text', name='password')
      input.w3-btn.w3-blue(type='submit', value='enviar')