extends layout

block content 
    h1  Um gajo qualquer
    h2  22 de marco de 2022
    table 
        tr 
            th Identificador
            th Nome
            th Link para o git
            
            tr 
                td= aluno.Id
                td= aluno.Nome 
                td= aluno.Git
    